nav ul {
  text-align: right;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 50px;
}
nav ul li a{
  text-decoration: none;
}
.App-header {
  background-color: #fefeff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
