@import "tailwindcss";
@import url('/src/assets/fonts/Montserrat-Medium.ttf');
@import url('/src/assets/fonts/Montserrat-Bold.ttf');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply min-h-screen flex flex-col;
        
    }
    html {
        font-family: 'Monserrat', sans-serif;
    }
    h1 {
        @apply text-black;
    }
    h2 {
        @apply text-3xl text-center font-monserrat mb-4;
    }
    
}

@font-face {
    font-family: 'monserratBold';
    src: url('/src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'monserratMed';
    src: url('/src/assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.max-width {
    @apply max-w-[1440px] mx-auto;
}
.padding-y {
    @apply py-4;
}
  
.flex-center {
    @apply flex items-center justify-center;
}
  
.flex-between {
    @apply flex justify-between items-center;
}